{% extends 'base.html' %}



{% block navbar %}
    {% with structures = True %}
        {% include 'navbar.html' %}
    {% endwith %}   
{% endblock %}



{% block style %}
<style>
    body {
        font-family: 'Quicksand', sans-serif;


        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    form {
        background-color: #fff;
        padding: 40px;
        border-radius: 21px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 48%;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input[type="number"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

{% endblock %}


{% block content %}
<form id="validationForm" action="/Conditions" method="post">
    <h1>Estas utilizando la funcion {{ name }} para esta estructura, selecciona las condiciones que esta llevara</h1>
    <label for="cube">Ingrese tamaño que desea por cubetas múltiplo de 2:</label>
    <input type="number" name="cube" id="cube" required>

    <label for="tasa_expansion">Ingrese el porcentaje de expansión de la estructura (se recomienda entre 10% a 80%):</label>
    <input type="number" name="tasa_expansion" id="tasa_expansion" required>

    <label for="tasa_reduccion">Ingrese el porcentaje de reducción de la estructura (se recomienda no pasar del doble del porcentaje de expansión):</label>
    <input type="number" name="tasa_reduccion" id="tasa_reduccion" required>

    <label for="row">Ingrese el número de registros por cubeta:</label>
    <input type="number" name="row" id="row" required>
    <input type="hidden" name="structure" value="{{ structure }}">
    <input type="hidden" name="hash" value="{{ hash }}">
    <div id="errorMessage" style="color: red; display: none;"></div>
    <input type="submit" value="Validar">
</form>

<script>
    document.getElementById("validationForm").addEventListener("submit", function(event) {
        event.preventDefault();
        const errorMessageDiv = document.getElementById("errorMessage");

        // Restablece el mensaje de error y oculta el div al inicio de la validación
        errorMessageDiv.innerText = "";
        errorMessageDiv.style.display = "none";


        const cube = parseInt(document.getElementById("cube").value);
        const tasa_expansion = parseInt(document.getElementById("tasa_expansion").value);
        const tasa_reduccion = parseInt(document.getElementById("tasa_reduccion").value);
        const row = parseInt(document.getElementById("row").value);

        if (cube % 2 != 0 || cube < 2) {
            errorMessageDiv.innerText = "El tamaño por cubetas tiene que ser múltiplo de 2 y mayor que 2.";
            errorMessageDiv.style.display = "block";

            return;
        }

        if (tasa_expansion >= 90 || tasa_expansion < 0) {
            errorMessageDiv.innerText = "La tasa de expansión está muy alta, esto podría generar error a futuro. Por favor, cambia el valor.";
            errorMessageDiv.style.display = "block";
            return;
        }

        if (tasa_reduccion < 0 || tasa_reduccion > 200 ) {
            errorMessageDiv.innerText = "La tasa de reducción no es válida, por favor intenta de nuevo.";
            errorMessageDiv.style.display = "block";
            return;
        }

        if (row < 1) {
            errorMessageDiv.innerText = "El valor que intentas ingresar es incorrecto, intenta con un valor mayor a 1.";
            errorMessageDiv.style.display = "block";
            return;
        }


        this.submit();
    
    });
</script>
{% endblock %}


