{% extends 'base.html' %}

{% block style %}
<style>
    .centered-table {
        width: 10%; /* O el ancho que prefieras */
        margin: 20px auto; /* auto centrará la tabla horizontalmente */
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
        text-align: left;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
    .error-message {
    text-align: center;
    color: #044fdb;
    font-size: 18px;
    margin-top: 10px;
  }
</style>
{% endblock %}

{% block content %}

{% if aux == False %}
<h1>{{colision_name}}</h1>
    <h1>{{search_type}}</h1>
    
    <form action="/verification" method="post">
        <input type="hidden" name="colision_name" value="{{colision_name}}">
        <input type="hidden" name="aux" value="{{ search_type }}">
        <input type="text" name="value" id="size" class="form-control" placeholder="Tamaño" required>
        <button type="submit" class="btn btn-primary btn-block px-20" value="accept" name="accept">Aceptar</button>
    </form>
{% else%}
    <form action="{% if search_type != 'secuencial' and search_type != 'binary_search' %} /Operation {% else %} /Binary_operation {% endif %}" method="post">
        <!-- Hidden input fields for vehicle context -->
        
        <h1>Ingrese una clave y seleccione que desea hacer</h1>
        <h1>{{colision_name}}</h1>

        <h1>{{digits}}</h1>
        <h1>{{ search_type }}</h1>
        <input type="hidden" name="colision_name" value="{{colision_name}}">

        <input type="hidden" name="aux" value="False">
        <input type="text" name="value" id="value" class="form-control" placeholder="value" required>
        <span id="error-message" style="color: red;"></span>
        <button type="submit" class="btn btn-primary btn-block px-20" value="insert" name="operations">Ingresar clave</button>
        <button type="submit" class="btn btn-primary btn-block px-20" value="delete" name="operations">Eliminar clave</button>
        <button type="submit" class="btn btn-primary btn-block px-20" value="search" name="operations">Buscar clave</button>
        <button type="submit" class="btn btn-primary btn-block px-20" value="length" name="length">Cambia longitud de digitos</button>
        {% if search_type == 'secuencial' or search_type == 'binary_search' %} 
            <button type="submit" class="btn btn-primary btn-block px-20" value="sort" name="operations">Ordenar Estructura</button>
        {% endif %}

        <input type="hidden" value="{{ colision_name }}">
        <input type="hidden" name="search_type" value="{{ search_type }}">
        <p class="error-message">{% if message != None %} {{ message }} {% endif %}</p>
        <!-- client[8]  ---- i_rent -->
    </form>

{% endif %}

<div class="centered-table">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for value in hash.memory %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="main-container">
    {% if colision_name == 'arreglo anidado' %}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <!-- Espacio en blanco para la esquina superior izquierda -->
                    <th></th>
                    <!-- Encabezados de las columnas enumerados desde 0 -->
                    {% for col in hash.anidado[0] %}
                        <th>Col {{ loop.index0 }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Datos de la matriz -->
                {% for row in hash.anidado %}
                    <tr>
                        <!-- Número de fila en la primera columna -->
                        <td>{{ loop.index0 }}</td>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% elif colision_name == 'lista encadenada' %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Values</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in hash.cadena.items() %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <table>
                                    <tr>
                                        {% for item in value %}
                                            <td>{{ item }}</td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>



<script>

    $("button[name='operations'][value='sort']").on("click", function() {
        // Remueve el atributo "required" del campo de entrada
        $("#value").removeAttr("required");
    });
    const inputValue = document.getElementById('value');
    const errorMessage = document.getElementById('error-message');
    const digits = "{{digits}}"; // Asume que "digits" es un valor que obtienes desde tu contexto.

    inputValue.addEventListener('input', function() {
        const valueNumber = parseFloat(inputValue.value);
        const valueText = inputValue.value.trim(); // Convertimos el valor a texto y eliminamos espacios al principio y al final

        if (isNaN(valueNumber) || valueText.length !== parseInt(digits)) {
            errorMessage.textContent = 'Por favor, ingrese un número válido con ' + digits + ' dígitos.';
            document.querySelectorAll('button[name="operations"]').forEach(function(button) {
                    button.disabled = true;
            });
        } else {
            document.querySelectorAll('button[name="operations"]').forEach(function(button) {
                    button.disabled = false;
            });
            errorMessage.textContent = ''; // limpia el mensaje de error
        }
    });
</script>
{% endblock %}
