{% extends 'base.html' %}

{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    .container {
        max-height: 400px;
        display: flex;
        justify-content: center;
        background: linear-gradient(135deg, rgb(133, 45, 215) 0%, rgb(80, 89, 209) 100%);
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       
    }

    .centered-table,
    .table-container {
        border: 1px solid #ccc; /* Agrega un borde para visualización */
        padding: 10px; /* Agrega un relleno para un mejor aspecto */
        flex: 1; /* Esto hará que ambos divs se expandan para ocupar el espacio disponible */
        overflow-x: auto; 
    overflow-y: auto; 

    }

    h1, h2 {
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .form {
        margin-top: 20px;
    }

    .btn {
        display: block;
        width: 36%;
        margin-bottom: 10px;
    }

    .error-box.red {
        background-color: #b8000082;
        color: #ff0000;
    }

    .error-box.blue {
        background-color: #cce4ff;
        color: #0066cc;
    }
    
   

    .main-container {
        margin-top: 20px;
    }

    .centered-table {
        width: 27%;
        margin: 0px auto;
        margin-right: 3%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
        text-align: left;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
    

  .button-container {
    display: flex; /* Utiliza flexbox para alinear los botones horizontalmente */
    justify-content: space-between; /* Distribuye los botones uniformemente en el contenedor */
    margin-top: 10px; /* Añade espacio superior si es necesario */
}

</style>
{% endblock %}

{% block content %}

<div class="container">
{% if aux == False %}
<div class="custom-form">
    <h2>Porfavor Elije un tamaño de digitos para tu clave</h2>
    <h1>Estas Utilizando: {{search_type}}</h1>
    
    <form action="/verification" method="post">
        <input type="hidden" name="colision_name" value="{{colision_name}}">
        <input type="hidden" name="aux" value="{{ search_type }}">
        <input type="text" name="value" id="size" class="form-control" placeholder="Tamaño" required>
        <button type="submit" class="btn btn-primary btn-block px-20" value="accept" name="accept">Aceptar</button>
    </form>
</div>
{% else%}
    <form action="{% if search_type != 'secuencial' and search_type != 'binary_search' %} /Operation {% else %} /Binary_operation {% endif %}" method="post">
        <!-- Hidden input fields for vehicle context -->
        
        <h2>Ingrese una clave y seleccione que desea hacer</h2>
        <h2>El rango que usted eligio para los digitos es de: {{digits}}</h2>
        <input type="hidden" name="colision_name" value="{{colision_name}}">

        <input type="hidden" name="aux" value="False">
        <input type="text" name="value" id="value" class="form-control" placeholder="value" required>
        <div class="error-box red">
            <span id="error-message" style="color: red;"></span>
        </div>
        <div class="button-container">
            <button type="submit" class="btn btn-primary btn-block px-20" value="insert" name="operations" style="width: 23%;">Ingresar clave</button>
            <button type="submit" class="btn btn-primary btn-block px-20" value="delete" name="operations" style="width: 23%;">Eliminar clave</button>
            <button type="submit" class="btn btn-primary btn-block px-20" value="search" name="operations" style="width: 23%;">Buscar clave</button>
            <button type="submit" class="btn btn-primary btn-block px-20" value="length" name="length" style="width: 23%;">Cambia longitud de digitos</button>
    
            {% if search_type == 'secuencial' or search_type == 'binary_search' %} 
                <button type="submit" class="btn btn-primary btn-block px-20" value="sort" name="operations">Ordenar Estructura</button>
            {% endif %}
        </div>
        <input type="hidden" value="{{ colision_name }}">
        <input type="hidden" name="search_type" value="{{ search_type }}">
        {% if message is not none %} 
            <div class="error-box blue ">
                {{ message }} 
            </div>
        {% endif %}
    </form>
    {% endif %}
</div>
<div class="container">
    <div class="centered-table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for value in hash.memory %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if colision_name == 'arreglo anidado' %}
    <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <!-- Espacio en blanco para la esquina superior izquierda -->
                        <th></th>
                        <!-- Encabezados de las columnas enumerados desde 0 -->
                        {% for col in hash.anidado[0] %}
                            <th>Col {{ loop.index0 }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!-- Datos de la matriz -->
                    {% for row in hash.anidado %}
                        <tr>
                            <!-- Número de fila en la primera columna -->
                            <td>{{ loop.index0 }}</td>
                            {% for item in row %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% elif colision_name == 'lista encadenada' %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Values</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in hash.cadena.items() %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <table>
                                    <tr>
                                        {% for item in value %}
                                            <td>{{ item }}</td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
</div>


<script>

    $("button[name='operations'][value='sort']").on("click", function() {
        // Remueve el atributo "required" del campo de entrada
        $("#value").removeAttr("required");
    });
    const inputValue = document.getElementById('value');
    const errorMessage = document.getElementById('error-message');
    const digits = "{{digits}}"; // Asume que "digits" es un valor que obtienes desde tu contexto.

    inputValue.addEventListener('input', function() {
        const valueNumber = parseFloat(inputValue.value);
        const valueText = inputValue.value.trim(); // Convertimos el valor a texto y eliminamos espacios al principio y al final

        if (isNaN(valueNumber) || valueText.length !== parseInt(digits)) {
            errorMessage.textContent = 'Por favor, ingrese un número válido con ' + digits + ' dígitos.';
            document.querySelectorAll('button[name="operations"]').forEach(function(button) {
                    button.disabled = true;
            });
        } else {
            document.querySelectorAll('button[name="operations"]').forEach(function(button) {
                    button.disabled = false;
            });
            errorMessage.textContent = ''; // limpia el mensaje de error
        }
    });
</script>
{% endblock %}
