{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="custom-form">
                <div class="new-container">
                    <h2 class="text-center mb-4">¡Bienvenido! Seleccione el tipo de memoria que desea usar</h2>
                </div>
                <div class="d-grid gap-2">
                    <a href="/External_memory" class="btn custom-button profile" style="margin-bottom: 3px;width: 300px;">Externa</a>
                    <a href="/Internal_memory" class="btn custom-button settings" style="margin-bottom: 3px;width: 300px;">Interna</a>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}