{% extends 'base.html' %}

{% block style %}
{% endblock %}


{% block content %}

{% if length == False %}
    <form id="/Internal_memory" method="post">
        <input type="text" name="size" id="size" class="form-control" placeholder="Tamaño" required>
        <button type="submit" class="btn btn-primary btn-block px-20" value="accept" name="accept">Aceptar</button>
    </form>
{% else %}

<button class="custom-button search" id="funcionesHash">Busqueda por trasformacion de claves o hash</button>
<button class="custom-button profile"  id="busquedaBinaria" >Busqueda Binaria</button>
<button class="custom-button cart"  id="busquedaSecuencial" >Busqueda Secuencial</button>
<button class="custom-button feedback" id="feedback">Feedback</button>
<button class="custom-button settings" id="settings">Settings</button>


{% endif %}

{% endblock %}
