{% extends 'base.html' %}
{% block style %}
<style>
    /* Estilos CSS aquí */
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        background: linear-gradient(135deg, rgb(133, 45, 215) 0%, rgb(80, 89, 209) 100%);background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .form {
        margin-top: 20px;
    }

    .btn {
        display: block;
        width: 32%;
        margin-bottom: 10px;
    }

    .error-message {
        color: red;
    }

    .main-container {
        margin-top: 20px;
    }

    .header {
        background-color: #f2f2f2;
    }

    .valor {
        border-top: 1px solid #ccc;
        padding: 8px;
    }

    .valor:last-child {
        border-bottom: 1px solid #ccc;
    }
    .button-container {
        display: flex; /* Utiliza flexbox para alinear los botones horizontalmente */
        justify-content: space-between; /* Distribuye los botones uniformemente en el contenedor */
        margin-top: 10px; /* Añade espacio superior si es necesario */
    }

    .error-box.blue {
        background-color: #cce4ff;
        border: 1px solid #0066cc;
        color: #0066cc;
    }


    .container-cubetas {
        display: flex;

    }
    .cubeta {
            padding: 7px;
            border: 1px solid #000;
            display: flex;
            text-align: center;
            flex-direction: column;
            flex: 1;
    }
    .cubeta:first-child {
        margin-left: 80px;
    }


    
    
</style>
{% endblock %}

{% block navbar %}
    {% with structures = True %}
        {% include 'navbar.html' %}
    {% endwith %}    
{% endblock %}

{% block content %}
<div class="container">
<form action="/dinamic_structures" method="post">
    <!-- Hidden input fields for vehicle context -->
    
    <h1>Ingrese una clave y seleccione que desea hacer</h1>
    <input type="hidden" name="aux" value="False">
    <input type="text" name="value" id="value" class="form-control px-20" placeholder="value" required>
    <div  class="button-container">
        <button type="submit" class="btn btn-primary btn-block px-20" value="insert" name="operations">Ingresar clave</button>
        <button type="submit" class="btn btn-primary btn-block px-20" value="delete" name="operations">Eliminar clave</button>
        <button type="submit" class="btn btn-primary btn-block px-20" value="search" name="operations">Buscar clave</button>
    </div>
    <!-- <button type="submit" class="btn btn-primary btn-block px-20" value="length" name="length">Cambia longitud de digitos</button> -->

    <div id=".error-box.blue" class="error-box blue">
        {% if message != None %} {{ message }} {% endif %}
    </div>
    <!-- client[8]  ---- i_rent -->
</form>


<h2>Información de la Estructura {{ structure }}</h2>

<table>
    <tr>
        <th>Atributo</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td>Tipo de expansión</td>
        <td>{{ my_structure.tipo_expansion }}</td>
    </tr>
    <tr>
        <td>Tasa de expansión</td>
        <td>{{ my_structure.tasa_expansion }}%</td>
    </tr>
    <tr>
        <td>Tasa de reducción</td>
        <td>{{ my_structure.tasa_reduccion }}%</td>
    </tr>
    <tr>
        <td>Cubetas</td>
        <td>{{ my_structure.cubetas }}</td>
    </tr>
</table>


<!-- Visualización de la matriz -->
<div class="main-container">
    <!-- Visualización de la matriz -->
    <table>
        <thead>
            <tr>
                <!-- Espacio en blanco para la esquina superior izquierda -->
                <th></th>
                <!-- Encabezados de las columnas enumerados desde 0 -->
                {% for col in my_structure.memoria[0] %}
                    <th>Col {{ loop.index0 }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Datos de la matriz -->
            {% for row in my_structure.memoria %}
                <tr>
                    <!-- Número de fila en la primera columna -->
                    <td>Fila {{ loop.index0 }}</td>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Visualización del diccionario lista_colisiones -->
    <div class="container-cubetas">
        {% for key, value in my_structure.lista_colisiones.items() %}
            <div class="cubeta">
                <div class="header">{{ key }}</div>
                {% for item in value %}
                    <div class="valor">{{ item }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<h2> Hisrotial de claves ingresadas</h2>

<table>
    <thead>
        <tr>
            <th>Índice</th>
            <th>Clave</th>
        </tr>
    </thead>
    <tbody>
        {% for clave in my_structure.historial_claves %}
            <tr>
                <td>{{ loop.index1 }}</td>
                <td>{{ clave }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>




{% endblock %}